body {
  color: #fd652d;
  font-family: "Jost", sans-serif;

  font-size: calc(clamp(4rem, 9vh, 6rem) / 2);
  background-color: #232323;

  user-select: none;
}

html, body {
  height: 100vh;   /* fallback */
  height: 100svh;  /* small viewport height (när toolbars syns) */
  height: 100dvh;  /* dynamic (bäst när det stöds) */
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;
}

main {
  height: 100%;
}




.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-color: #fd652d;
  border-width: 3px;

  text-align: center;
}

.button:hover {
  cursor: pointer;
}