body {
  color: #fd652d;
  font-family: "Jost", sans-serif;

  font-size: calc(clamp(4rem, 9vh, 6rem) / 2);
  background-color: #232323;

  user-select: none;
}

html, body {
  height: 100vh;   /* fallback */
  height: 100svh;  /* small viewport height (när toolbars syns) */
  height: 100dvh;  /* dynamic (bäst när det stöds) */
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;
}

main {
  height: 100%;
}


h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2em;
}

p {
  margin: 0;
  padding: 0;
  font-size: .5em;
  text-align: center;
}

.box {
  border-style: solid;
  border-width: 3px;
  border-color: #fd652d;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boxButton {
  border-style: solid;
  border-width: 4px;
  border-color: #fd652d;
  justify-content: center;
  align-items: center;
}

.boxWelcome {
  border-style: solid;
  border-width: 3px;
  border-color: #fd652d;
  justify-content: center;
  align-items: center;
  transition: 0.3;
}

#startbutton:hover {
  cursor: pointer;
  background: #fd652d;
  color: #232323;
  transition: 0.3;
}

.generated {
  font-family: "Jost", sans-serif;
  display: block;
}

.undefinedblocker {
  display: block;
}

#reset:hover {
  cursor: pointer;
}

#readmore:hover {
  cursor: pointer;
}

.qwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 980px;
  height: 500px;
  margin-top: -232px;
  margin-left: -490px;
  font-family: "Jost", sans-serif;
  font-size: 150%;
  display: block;
}

#lefty {
  display: flex;
  float: left;
  width: 400px;
  height: 400px;
  padding: 30px 30px 30px 30px;
}

#righty {
  display: flex;
  float: right;
  width: 400px;
  height: 400px;
  padding: 30px 30px 30px 30px;
}

#lefty:hover, #righty:hover {
  background: #fd652d;
  color: #232323;
  cursor: pointer;
}

.swrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 200px;
  margin-top: -145px;
  margin-left: -355px;
  font-family: "Jost", sans-serif;
}

.swrapper #welcome {
  border: none;
  font-size: 38px;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  float: top;
  width: 640px;
  height: 100px;
  margin-bottom: 40px;
}

#startbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  float: bottom;
  width: 640px;
  height: 100px;
}



#reset {
  display: flex;
  padding: 20px 30px;
  font-size: 1em;
  margin: 20px;
  
  border-width: 5px;
  margin-top: auto;
}

#readmore {
  display: block;
  text-align: center;
  width: 100%;
  color: hsl(16, 98%, 58%);
  font-size: .5em;
  text-decoration: underline;
}


/* .rolename {
  position: absolute;
  left: 10%;
  color: #fd652d;
} */

/* .roleresult {
  position: absolute;
  left: 50%;
  background-color: #fd652d;
  height: 40px;
} */


.rwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: clamp(15px, 3vh, 50px);
}

/* Remove */
/* .swrapper {display:none;} */

.roleresult {
  background-color: #fd652d;
  height: 1.25em;
}

.rolename {
  padding: 15px;
  font-size: 1.25em;
  cursor: pointer;
}

.gwrapper {
  margin: clamp(50px, 7vh, 100px);
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  gap: clamp(10px, 5vh, 30px);
}

.roleresult-container {
  display: flex;
  align-items: center;
}


.role-container {
  position: relative;
}

.role-description {
  background-color: #363636;
  position: absolute;
  display: flex;
  padding: 0.5em;
  border-radius: 20px;
  box-shadow: 5px 5px 40px black;
  left: -60px;
  right: -100px;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.role-description img {
  height: 6.5em;
  border-radius: 5px;
  -webkit-user-drag: none;
}

.role-description span {
  font-size: .55em;
  padding: 0 30px;
}






.hidden { display: none; }



/* Laptop-ish: mindre höjd + medelbredd */
/* @media (max-width: 1600px) and (min-width: 901px) {
  html { font-size: 10px; }
} */